body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 576px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 991px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.cart .cart--bcg {
  background: linear-gradient(180deg, #c4c4c4 0%, rgba(196, 196, 196, 0) 100%);
  opacity: 0.1;
  height: 80px;
}
@media screen and (min-width: 576px) {
  .cart .cart--bcg {
    height: 100px;
  }
}
@media screen and (min-width: 767px) {
  .cart .cart--bcg {
    height: 120px;
  }
}
@media screen and (min-width: 991px) {
  .cart .cart--bcg {
    height: 149px;
  }
}
.cart .cart--item {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: -60px;
  max-width: 1440px;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .cart .cart--item {
    top: -70px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 767px) {
  .cart .cart--item {
    top: -82px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 991px) {
  .cart .cart--item {
    top: -111px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .cart .cart--item {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .cart .cart--item {
    padding-left: 85px;
    padding-right: 120px;
  }
}
.cart .cart--item .cart__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #151515;
  padding-bottom: 10px;
}
@media screen and (min-width: 576px) {
  .cart .cart--item .cart__title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #151515;
  }
}
@media screen and (min-width: 767px) {
  .cart .cart--item .cart__title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: #151515;
  }
}
@media screen and (min-width: 991px) {
  .cart .cart--item .cart__title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #151515;
  }
}
.cart .cart--item .cart--block .cart__svg {
  margin-bottom: -3px;
}
.cart .cart--item .cart--block .cart__text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #151515;
  display: inline-block;
  padding-left: 4px;
}
@media screen and (min-width: 576px) {
  .cart .cart--item .cart--block .cart__text {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    padding-left: 8px;
  }
}
@media screen and (min-width: 767px) {
  .cart .cart--item .cart--block .cart__text {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #151515;
  }
}

.cart__links {
  position: relative;
}
.cart__links::before {
  content: "";
  position: absolute;
  width: 520%;
  height: 3px;
  border-radius: 4px;
  background-color: #000000;
  top: 25px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 576px) {
  .cart__links::before {
    width: 615%;
  }
}
@media screen and (min-width: 767px) {
  .cart__links::before {
    width: 665%;
  }
}
.cart__links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.cart__link {
  position: relative;
}
.cart__link::before {
  content: "";
  position: absolute;
  width: 510%;
  height: 3px;
  border-radius: 4px;
  background-color: #000000;
  top: 25px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 576px) {
  .cart__link::before {
    width: 600%;
  }
}
@media screen and (min-width: 767px) {
  .cart__link::before {
    width: 650%;
  }
}
.cart__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}