body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 576px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 991px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}