body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 576px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 991px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (min-width: 1400px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@mixin Font($ff, $fst, $fw, $fz, $lhg, $clr) {
  font-family: $ff;
  font-style: $fst;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lhg;
  color: $clr;
}
.choise {
  max-width: 1440px;
  margin: auto;
}
.choise--block__grid {
  margin-top: -26px;
  padding-bottom: 24px;
  max-width: 968px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 0.3fr) 0.4fr 0.3fr 0.1fr;
  grid-template-rows: 0.3fr 0.02fr 1fr 0.02fr 1fr 0.02fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fafafa;
  @media screen and (min-width: 576px) {
    margin-top: -21px;
  }
  @media screen and (min-width: 767px) {
    margin-top: -31px;
  }
  @media screen and (min-width: 991px) {
    margin-top: -30px;
    padding-bottom: 46px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 748px;
    margin-top: -30px;
    padding-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 1300px) {
    max-width: 818px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 948px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 968px;
  }
  .choise--block__grid-child1 {
    grid-area: 1 / 3 / 2 / 4;
    padding-top: 10px;
    @media screen and (min-width: 991px) {
      padding-top: 25px;
    }
  }
  .choise--block__grid-child2 {
    grid-area: 1 / 4 / 2 / 5;
    padding-top: 10px;
    @media screen and (min-width: 991px) {
      padding-top: 25px;
    }
  }
  .choise--block__grid-child3 {
    grid-area: 1 / 5 / 2 / 6;
    padding-top: 10px;
    @media screen and (min-width: 991px) {
      padding-top: 25px;
    }
  }
  .choise--block__grid-child4 {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 10px;
    @media screen and (min-width: 991px) {
      padding-left: 31px;
    }
  }
  .choise--block__grid-child5 {
    grid-area: 3 / 2 / 4 / 3;
    margin: auto;
  }
  .choise--block__grid-child6 {
    grid-area: 3 / 3 / 4 / 4;
    margin: auto;
  }
  .choise--block__grid-child7 {
    grid-area: 3 / 4 / 4 / 5;
    margin: auto;
  }
  .choise--block__grid-child8 {
    grid-area: 3 / 5 / 4 / 6;
    margin: auto;
  }
  .choise--block__grid-child9 {
    grid-area: 3 / 6 / 4 / 7;
    margin: auto;
    padding-right: 10px;
    @media screen and (min-width: 991px) {
      padding-right: 36px;
    }
  }
  .choise--block__grid-child10 {
    grid-area: 5 / 1 / 6 / 2;
    padding-left: 10px;
    @media screen and (min-width: 991px) {
      padding-left: 31px;
    }
  }
  .choise--block__grid-child11 {
    grid-area: 5 / 2 / 6 / 3;
    margin: auto;
  }
  .choise--block__grid-child12 {
    grid-area: 5 / 3 / 6 / 4;
    margin: auto;
  }
  .choise--block__grid-child13 {
    grid-area: 5 / 4 / 6 / 5;
    margin: auto;
  }
  .choise--block__grid-child14 {
    grid-area: 5 / 5 / 6 / 6;
    margin: auto;
  }
  .choise--block__grid-child15 {
    margin: auto;
    grid-area: 5 / 6 / 6 / 7;
    padding-right: 10px;
    @media screen and (min-width: 991px) {
      padding-right: 36px;
    }
  }
  .choise--block__grid-child16 {
    grid-area: 7 / 1 / 8 / 2;
    padding-left: 10px;
    @media screen and (min-width: 991px) {
      padding-left: 31px;
    }
  }
  .choise--block__grid-child17 {
    grid-area: 7 / 2 / 8 / 3;
    margin: auto;
  }
  .choise--block__grid-child18 {
    grid-area: 7 / 3 / 8 / 4;
    margin: auto;
  }
  .choise--block__grid-child19 {
    grid-area: 7 / 4 / 8 / 5;
    margin: auto;
  }
  .choise--block__grid-child20 {
    grid-area: 7 / 5 / 8 / 6;
    margin: auto;
  }
  .choise--block__grid-child21 {
    grid-area: 7 / 6 / 8 / 7;
    padding-right: 10px;
    margin: auto;
    @media screen and (min-width: 991px) {
      padding-right: 36px;
    }
  }
  .choise--block__grid-child22 {
    grid-area: 2 / 1 / 3 / 7;
    border: 2px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: 991px) {
      margin-top: 17px;
      margin-bottom: 30px;
    }
  }
  .choise--block__grid-child23 {
    grid-area: 4 / 1 / 5 / 7;
    border: 2px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 991px) {
      margin-top: 33px;
      margin-bottom: 33px;
    }
  }
  .choise--block__grid-child24 {
    grid-area: 6 / 1 / 7 / 7;
    border: 2px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 991px) {
      margin-top: 33px;
      margin-bottom: 33px;
    }
  }
}
.choise--block__grid-span {
  @include Font("Proxima Nova", normal, 700, 16px, 20px, #151515);
  text-align: center;
  @media screen and (min-width: 991px) {
    @include Font("Proxima Nova", normal, 700, 20px, 24px, #151515);
  }
}
.choise--block__grid-title {
  @include Font("Proxima Nova", normal, 400, 16px, 20px, #151515);
  padding-bottom: 11px;
  @media screen and (min-width: 991px) {
    @include Font("Proxima Nova", normal, 400, 20px, 24px, #151515);
  }
}
.choise--block__grid-text {
  @include Font("Proxima Nova", normal, 400, 15px, 18px, #a2a2a2);
  @media screen and (min-width: 991px) {
    @include Font("Proxima Nova", normal, 400, 18px, 18px, #a2a2a2);
  }
}
.choise--block__grid--item {
  display: inline-block;
}
.choise--block__grid-price {
  @include Font("Proxima Nova", normal, 400, 15px, 18px, #151515);
  text-align: center;
  display: block;
  @media screen and (min-width: 991px) {
    @include Font("Proxima Nova", normal, 400, 20px, 24px, #151515);
  }
}
.choise--block__svg-hover {
  &:hover {
    filter: invert(0.5);
  }
}
.choise--block__grid-btn1 {
  border: 1px solid black;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(white, 30%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}
.choise--block__grid-btn2 {
  border: 1px solid black;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(white, 30%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}
.choise--block__grid-svg1 {
  margin-bottom: 5px;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 10px;
  @media screen and (min-width: 991px) {
    margin-bottom: 6px;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 13px;
  }
}

.choise--block__grid-svg2 {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 1px;
  @media screen and (min-width: 991px) {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
}
.choise--block__grid--quan {
  @include Font("Poppins", normal, 400, 15px, 20px, #151515);
  padding-left: 5px;
  padding-right: 5px;
  @media screen and (min-width: 991px) {
    @include Font("Poppins", normal, 400, 20px, 30px, #151515);
    padding-left: 21px;
    padding-right: 21px;
  }
}
.choise--contain {
  @media screen and (min-width: 1200px) {
    position: relative;
  }
}
.choise--dropdown {
  max-width: 422px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fafafa;
  padding-bottom: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  @media screen and (min-width: 374px) {
    padding-bottom: 30px;
  }
  @media screen and (min-width: 425px) {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 425px) {
    margin-bottom: 70px;
    margin-top: 70px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: -69px;
    left: 778px;
  }
  @media screen and (min-width: 1300px) {
    left: 878px;
  }
  @media screen and (min-width: 1400px) {
    left: 976px;
  }
  @media screen and (min-width: 1440px) {
    left: 1000px;
  }
}
.dropdown-choise {
  display: block;
  position: relative;
  cursor: pointer;
  label {
    display: block;
    @include Font("Proxima Nova", normal, 700, 15px, 15px, #151515);
    padding-left: 9px;
    padding-top: 20px;
    @media screen and (min-width: 374px) {
      @include Font("Proxima Nova", normal, 700, 18px, 18px, #151515);
      padding-left: 15px;
      padding-top: 30px;
    }
    @media screen and (min-width: 425px) {
      @include Font("Proxima Nova", normal, 700, 20px, 20px, #151515);
      padding-left: 24px;
    }
    & .choise-dropdown__subtext {
      @include Font("Proxima Nova", normal, 700, 12px, 12px, #a7a7a7);
      padding-left: 9px;
      @media screen and (min-width: 374px) {
        @include Font("Proxima Nova", normal, 700, 15px, 15px, #a7a7a7);
      }
      @media screen and (min-width: 425px) {
      }
      &::after {
        content: "";
        width: 11px;
        height: 11px;
        display: inline-block;
        border-bottom: 1.5px solid #000000;
        border-right: 1.5px solid #000000;
        transform: rotateZ(45deg);
        transition: all 0.3s;
        margin-top: -3px;
        margin-left: 23px;
        @media screen and (min-width: 425px) {
          margin-left: 61px;
        }
      }
    }
  }
  #dropdown-choise {
    display: none;
    &:checked {
      & ~ .dropdown-choise-list {
        display: block;
        & .dropdown-choise-list__item {
          margin-left: 9px;
          margin-top: 15px;
          @media screen and (min-width: 374px) {
            margin-left: 15px;
            margin-top: 28px;
          }
          @media screen and (min-width: 425px) {
            margin-left: 24px;
          }
          & .dropdown-choise-list__input {
            @include Font("Proxima Nova", normal, 700, 15px, 15px, #151515);
            border: 1px solid #000000;
            padding: 3px 5px 3px 9px;
            width: 125px;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 700, 18px, 18px, #151515);
              padding: 8px 5px 9px 11px;
              width: 140px;
            }
            @media screen and (min-width: 425px) {
              width: 182px;
              padding: 14px 10px 15px 23px;
              @include Font("Proxima Nova", normal, 700, 20px, 20px, #151515);
            }
          }
          //  & .dropdown-choise-list__btn1 {
          //    @include Font("Proxima Nova", normal, 700, 15px, 15px, #151515);
          //    padding: 5px 13px;
          //    background-color: #fafafa;
          //    border: 1px solid #000000;
          //    transition: all 0.3s;
          //    position: relative;
          //    overflow: hidden;
          //    z-index: 1;
          //    &::after {
          //      content: "";
          //      position: absolute;
          //      bottom: 0;
          //      left: 0;
          //      width: 100%;
          //      height: 100%;
          //      background-color: #fafafa;
          //      z-index: -2;
          //    }
          //    &::before {
          //      content: "";
          //      position: absolute;
          //      bottom: 0;
          //      left: 0;
          //      width: 0%;
          //      height: 100%;
          //      background-color: darken(white, 30%);
          //      transition: all 0.3s;
          //      z-index: -1;
          //    }
          //    &:hover {
          //      color: #fff;
          //      &::before {
          //        width: 100%;
          //      }
          //    }
          //    @media screen and (min-width: 374px) {
          //      @include Font("Proxima Nova", normal, 700, 18px, 18px, #151515);
          //      padding: 12px 14px;
          //    }
          //    @media screen and (min-width: 425px) {
          //      @include Font("Proxima Nova", normal, 700, 20px, 20px, #151515);
          //      padding: 16px 22px;
          //    }
          //  }
          & .dropdown-choise-list__btn2 {
            @include Font("Proxima Nova", normal, 700, 15px, 15px, #ffffff);
            padding: 6px 30px;
            background-color: #000000;
            margin-left: 10px;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #000000;
              z-index: -2;
            }
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken(grey, 30%);
              transition: all 0.3s;
              z-index: -1;
            }
            &:hover {
              color: #fff;
              &::before {
                width: 100%;
              }
            }
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 700, 18px, 18px, #ffffff);
              padding: 12px 40px;
            }
            @media screen and (min-width: 425px) {
              @include Font("Proxima Nova", normal, 700, 20px, 20px, #ffffff);
              padding: 18px 50px;
              margin-left: 16px;
            }
          }
        }
        & .dropdown-choise-list__brbt {
          border: 1px solid rgba(222, 222, 222, 0.1);
          margin-top: 15px;
          margin-bottom: 10px;
          @media screen and (min-width: 374px) {
            margin-top: 23px;
            margin-bottom: 15px;
          }
        }
        & .dropdown-choise-list__item2 {
          margin-left: 9px;
          @media screen and (min-width: 374px) {
            margin-left: 15px;
          }
          @media screen and (min-width: 425px) {
            margin-left: 24px;
          }
          & .dropdown-choise-list__text1 {
            @include Font("Poppins", normal, 400, 15px, 20px, #151515);
            display: inline-block;
            padding-right: 110px;
            @media screen and (min-width: 374px) {
              @include Font("Poppins", normal, 400, 18px, 24px, #151515);
              padding-right: 125px;
            }
            @media screen and (min-width: 425px) {
              @include Font("Poppins", normal, 400, 20px, 30px, #151515);
              padding-right: 177px;
            }
          }
          & .dropdown-choise-list__text2 {
            @include Font("Proxima Nova", normal, 400, 15px, 18px, #151515);
            text-align: right;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 18px, 20px, #151515);
            }
            @media screen and (min-width: 425px) {
              @include Font("Proxima Nova", normal, 400, 20px, 24px, #151515);
            }
          }
          & .dropdown-choise-list__text3 {
            @include Font("Proxima Nova", normal, 400, 12px, 12px, #a7a7a7);
            display: inline-block;
            padding-right: 157px;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 15px, 15px, #a7a7a7);
              padding-right: 177px;
            }
            @media screen and (min-width: 425px) {
              padding-right: 247px;
            }
          }
          & .dropdown-choise-list__text4 {
            @include Font("Proxima Nova", normal, 400, 12px, 14px, #a7a7a7);
            text-align: right;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 15px, 18px, #a7a7a7);
            }
          }
        }
        & .dropdown-choise-list__brbt1 {
          border: 1px solid rgba(222, 222, 222, 0.1);
          margin-top: 20px;
          margin-bottom: 15px;
          @media screen and (min-width: 374px) {
            margin-top: 27px;
            margin-bottom: 22px;
          }
        }
        & .dropdown-choise-list__item3 {
          margin-left: 9px;
          @media screen and (min-width: 374px) {
            margin-left: 15px;
          }
          @media screen and (min-width: 425px) {
            margin-left: 24px;
          }
          & .dropdown-choise-list__price1 {
            @include Font("Proxima Nova", normal, 400, 15px, 15px, #151515);
            display: inline-block;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 18px, 18px, #151515);
            }
            @media screen and (min-width: 425px) {
              @include Font("Proxima Nova", normal, 400, 20px, 20px, #151515);
            }
          }
          & .dropdown-choise-list__price2 {
            @include Font("Proxima Nova", normal, 400, 12px, 12px, #a7a7a7);
            padding-left: 15px;
            padding-right: 50px;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 15px, 15px, #a7a7a7);
              padding-right: 54px;
            }
            @media screen and (min-width: 425px) {
              padding-right: 112px;
            }
          }
          & .dropdown-choise-list__price3 {
            @include Font("Proxima Nova", normal, 400, 15px, 18px, #151515);
            text-align: right;
            @media screen and (min-width: 374px) {
              @include Font("Proxima Nova", normal, 400, 18px, 20px, #151515);
            }
            @media screen and (min-width: 425px) {
              @include Font("Proxima Nova", normal, 400, 20px, 24px, #151515);
            }
          }
        }
        & .dropdown-choise-list__btn3 {
          @include Font("Proxima Nova", normal, 700, 15px, 18px, #ffffff);
          padding: 14px 71px;
          margin-top: 20px;
          margin-left: 9px;
          background-color: #000000;
          transition: all 0.3s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            z-index: -2;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(grey, 30%);
            transition: all 0.3s;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            &::before {
              width: 100%;
            }
          }
          @media screen and (min-width: 374px) {
            @include Font("Proxima Nova", normal, 700, 18px, 20px, #ffffff);
            margin-left: 15px;
            padding: 14px 87px;
          }
          @media screen and (min-width: 425px) {
            @include Font("Proxima Nova", normal, 700, 20px, 24px, #ffffff);
            padding: 14px 111px;
            margin-left: 24px;
          }
        }
      }
      & ~ label b::after {
        transform: rotateZ(-135deg);
        margin-bottom: -4px;
      }
    }
  }
  &-list {
    display: none;
  }
}
