body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 576px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 991px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (min-width: 1400px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@mixin Font($ff, $fst, $fw, $fz, $lhg, $clr) {
  font-family: $ff;
  font-style: $fst;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lhg;
  color: $clr;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  &::after {
    content: "" !important;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 9px !important;
    height: 9px !important;
    transform: rotateZ(-45deg);
  }
  color: black !important;
  background-color: white !important;
  height: 31px !important;
  width: 26px !important;
  margin-right: -10px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  &::after {
    content: "" !important;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 9px !important;
    height: 9px !important;
    transform: rotateZ(130deg);
  }
  color: black !important;
  background-color: white !important;
  height: 31px !important;
  width: 26px !important;
  margin-left: -10px;
}

.swiper-pagination-bullet {
  color: black !important;
  width: 5px;
  height: 5px;
}
.swipp {
  @media screen and (min-width: 991px) {
    display: none;
  }
}
.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  position: static !important;
  margin-top: 9px !important;
  & span {
    border-radius: 0 !important;
    color: black !important;
    width: 5px;
    height: 5px;
    margin: 0 4px !important;
    background-color: black !important;
  }
}
.page {
  background-image: url("../img/flower.webp");
  background-size: 1920px 509px;
  background-position: top 400px left;
  max-width: 1440px;
  margin: auto;
  @media screen and (min-width: 991px) {
    background-position: top;
  }
  &--item__heading {
    @include Font("Proxima Nova", normal, 700, 30px, 48px, #111010);
    text-align: center;
    padding-top: 425px;
    @media screen and (min-width: 374px) {
      padding-top: 379px;
    }
    @media screen and (min-width: 420px) {
      padding-top: 329px;
    }
    @media screen and (min-width: 490px) {
      padding-top: 301px;
    }
    @media screen and (min-width: 593px) {
      padding-top: 274px;
    }
    @media screen and (min-width: 745px) {
      padding-top: 245px;
    }
    @media screen and (min-width: 767px) {
      padding-top: 310px;
      @include Font("Proxima Nova", normal, 700, 36px, 48px, #111010);
    }
    @media screen and (min-width: 991px) {
      padding-top: 75px;
      @include Font("Proxima Nova", normal, 700, 48px, 48px, #111010);
    }
  }
  &--item__block {
    border-bottom: 3px solid #c4c4c4;
    width: 125px;
    margin: auto;
    @media screen and (min-width: 767px) {
      width: 140px;
    }
    @media screen and (min-width: 991px) {
      border-bottom: 5px solid #c4c4c4;
      width: 150px;
    }
  }
  &--item__paragraph {
    @include Font("Proxima Nova", normal, 400, 15px, 25px, #616161);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 26px;
    @media screen and (min-width: 767px) {
      @include Font("Proxima Nova", normal, 400, 18px, 28px, #616161);
      padding-top: 24px;
      padding-bottom: 31px;
    }
    @media screen and (min-width: 991px) {
      @include Font("Proxima Nova", normal, 400, 20px, 28px, #616161);
      padding-top: 30px;
      padding-bottom: 40px;
      padding-left: 90px;
      padding-right: 90px;
    }
    @media screen and (min-width: 1400px) {
      padding-left: 180px;
      padding-right: 180px;
    }
  }
}
.page--block__swip {
  display: flex;
  flex-direction: column;
}
.page--block__swip img {
  height: 350px;
  width: 290px;
  @media screen and (min-width: 374px) {
    width: 380px;
    height: 405px;
  }
  @media screen and (min-width: 427px) {
    width: 440px;
  }
  @media screen and (min-width: 480px) {
    width: 500px;
  }
  @media screen and (min-width: 570px) {
    width: 590px;
  }
  @media screen and (min-width: 660px) {
    width: 670px;
  }
  @media screen and (min-width: 730px) {
    width: 720px;
  }
  @media screen and (min-width: 845px) {
    width: 800px;
  }
  @media screen and (min-width: 930px) {
    width: 878px;
  }
}
.page--block__items {
  background: #111010;
  border: 1px solid #ffffff;
  width: 260px;
  margin-top: -62px;
  @media screen and (min-width: 374px) {
    width: 320px;
  }
  @media screen and (min-width: 424px) {
    width: 370px;
  }
  @media screen and (min-width: 567px) {
    width: 470px;
  }
  @media screen and (min-width: 660px) {
    width: 570px;
  }
  @media screen and (min-width: 767px) {
    width: 640px;
  }
  @media screen and (min-width: 845px) {
    width: 720px;
  }
  @media screen and (min-width: 930px) {
    width: 800px;
  }
  & .page--block__heads {
    @include Font("Proxima Nova", normal, 600, 28px, 28px, white);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  & .page--block__paragraphs {
    @include Font("Proxima Nova", normal, 400, 15px, 16px, #b4b4b4);
    text-align: center;
    padding-bottom: 15px;
  }
}

.page--parent__grid {
  display: none;
  @media screen and (min-width: 991px) {
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1440px;
    margin: auto;
    gap: 8px;
    @media screen and (min-width: 1200px) {
      gap: 16px;
    }
    @media screen and (min-width: 1400px) {
      gap: 24px;
    }
  }
}
.page--child__item1 {
  grid-area: 1 / 1 / 3 / 2;
}
.page--child__item2 {
  grid-area: 1 / 2 / 3 / 3;
}
.page--child__item3 {
  grid-area: 1 / 3 / 2 / 4;
  padding-bottom: 39px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 27px;
  }
  @media screen and (min-width: 1400px) {
    padding-bottom: 19px;
  }
}
.page--child__item4 {
  grid-area: 2 / 3 / 3 / 4;
}
.page--child__items {
  background: #111010;
  border: 1px solid #ffffff;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111010;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(grey, 30%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}
.item1 {
  width: 380px;
  margin-top: -104px !important;
  margin: auto;
  position: relative;
  @media screen and (min-width: 1200px) {
    width: 460px;
  }
  @media screen and (min-width: 1400px) {
    width: 530px;
  }
}
.item2 {
  width: 220px;
  margin-top: -120px !important;
  margin: auto;
  position: relative;
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-top: -102px !important;
  }
  @media screen and (min-width: 1400px) {
    width: 310px;
  }
}
.item3 {
  width: 300px;
  position: relative;
  margin-top: -120px !important;
  margin: auto;
  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-top: -100px !important;
  }
  @media screen and (min-width: 1400px) {
    width: 420px;
  }
}
.item4 {
  width: 300px;
  position: relative;
  margin-top: -119px !important;
  margin: auto;
  @media screen and (min-width: 1200px) {
    width: 370px;
    margin-top: -100px !important;
  }
  @media screen and (min-width: 1400px) {
    width: 420px;
  }
}
.page--child__heads {
  @include Font("Proxima Nova", normal, 600, 28px, 28px, white);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.page--child__paragraphs {
  @include Font("Proxima Nova", normal, 400, 16px, 16px, #b4b4b4);
  text-align: center;
  padding-bottom: 30px;
}
.page--child__pic1 {
  max-width: 575px;
  width: 100%;
  height: 638px;
}
.page--child__pic2 {
  max-width: 339px;
  width: 100%;
  height: 638px;
}
.page--child__pic3 {
  max-width: 454px;
  width: 100%;
  height: 282px;
}
.page--child__pic4 {
  max-width: 454px;
  width: 100%;
  height: 294px;
}
