body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 576px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 991px) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (min-width: 1400px) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@mixin Font($ff, $fst, $fw, $fz, $lhg, $clr) {
  font-family: $ff;
  font-style: $fst;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lhg;
  color: $clr;
}
.promotions {
  max-width: 1440px;
  margin: auto;
  & .promotions--block__item {
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 427px) {
      padding-top: 30px;
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (min-width: 576px) {
      padding-top: 42px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (min-width: 767px) {
      padding-top: 64px;
      padding-left: 50px;
      padding-right: 50px;
    }
    @media screen and (min-width: 991px) {
      padding-top: 0;
      padding-left: 10px;
      padding-right: 0px;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 23px;
    }
    & .promotions--block__title {
      @include Font("Poppins", normal, 400, 24px, 24px, #000000);
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      @media screen and (min-width: 576px) {
        @include Font("Poppins", normal, 400, 28px, 28px, #000000);
        padding-bottom: 15px;
      }
      @media screen and (min-width: 767px) {
        @include Font("Poppins", normal, 400, 32px, 32px, #000000);
        padding-top: 20px;
        padding-left: 20px;
      }
      @media screen and (min-width: 991px) {
        @include Font("Poppins", normal, 400, 36px, 54px, #000000);
        padding-top: 30px;
        padding-left: 24px;
      }
      @media screen and (min-width: 1200px) {
        @include Font("Poppins", normal, 400, 40px, 60px, #000000);
        padding-top: 39px;
        padding-left: 32px;
      }
    }
    & .promotions--block__text {
      @include Font("Proxima Nova", normal, 400, 15px, 28px, #000000);
      max-width: 481px;
      width: 100%;
      padding-bottom: 24px;
      padding-left: 10px;
      @media screen and (min-width: 576px) {
        @include Font("Proxima Nova", normal, 400, 16px, 28px, #000000);
        padding-bottom: 36px;
      }
      @media screen and (min-width: 767px) {
        @include Font("Proxima Nova", normal, 400, 18px, 28px, #000000);
        padding-left: 20px;
      }
      @media screen and (min-width: 991px) {
        padding-left: 24px;
        padding-bottom: 39px;
      }
      @media screen and (min-width: 1200px) {
        padding-left: 32px;
      }
    }
  }
}
.promotions--block__picture {
  max-width: 886px;
  width: 100%;
  max-height: 231px;
  height: 100%;
  margin-bottom: 20px;
  @media screen and (min-width: 576px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 991px) {
    margin-bottom: 0;
  }
}
.promotions--dfl {
  @media screen and (min-width: 991px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 124px;
    padding-bottom: 100px;
  }
}
.promotions--block__cont {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 576px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media screen and (min-width: 767px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 991px) {
    padding: 0;
  }
}
